src/main/mule/test.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:tls="http://www.mulesoft.org/schema/mule/tls"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="1ee78eb0-8de9-48c1-91da-bfe125e9173d" basePath="/api/timezone" >
		<http:request-connection protocol="HTTPS" host="worldtimeapi.org" />
	</http:request-config>
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="6af3e0b9-8a05-428a-bd0d-0125ed5d579f" >
		<http:listener-connection host="0.0.0.0" port="8081">
		</http:listener-connection>
	</http:listener-config>
	<salesforce:sfdc-config name="Salesforce_Config" doc:name="Salesforce Config" doc:id="d4727223-da8c-4d63-833d-24b0b9ee6da4" >
		<salesforce:basic-connection username="hguan066@gmail.com" password="Howard1129" securityToken="WThgSwr5jrHVLuuA0PjTGCFE" />
	</salesforce:sfdc-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="4f556234-0317-4d52-83d2-28d908b750f7" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="Gowri123$" database="trainee" />
	</db:config>
	<flow name="testFlow" doc:id="63b5e2c8-358c-455c-9884-360776e8b560" >
		<http:listener doc:name="Listener" doc:id="727c6420-6ca8-46e3-b8c8-cd90ac619882" config-ref="HTTP_Listener_config" path="/test"/>
<!-- [STUDIO:"Set Variable"]		<set-variable value='#["eyJraWQiOiIyMDIzLTEwLTIxVDAwOjA4OjI3LjIzNS5lYy5lczI1NiIsInR5cCI6IkpXVCIsImFsZyI6IkVTMjU2In0.eyJpc3MiOiJodHRwczpcL1wvYXV0aG9yaXphdGlvbi5jZXJuZXIuY29tXC8iLCJleHAiOjE2OTc5MDAyMDYsImlhdCI6MTY5Nzg5OTYwNiwianRpIjoiNjMyNWQyOWUtYTAyMi00Y2M0LTkwNGUtNzAxNzYxY2ExNGFkIiwidXJuOmNlcm5lcjphdXRob3JpemF0aW9uOmNsYWltczp2ZXJzaW9uOjEiOnsidmVyIjoiMS4wIiwicHJvZmlsZXMiOnsic21hcnQtdjEiOnsiYXpzIjoic3lzdGVtXC9PYnNlcnZhdGlvbi5yZWFkIHN5c3RlbVwvUGF0aWVudC5yZWFkIn19LCJjbGllbnQiOnsibmFtZSI6Im5ld3VzZXIiLCJpZCI6IjQ5ZDkzYTFjLTExODEtNDgzOC1hNmU1LWUxY2I0YjI0MjMyZCJ9LCJ0ZW5hbnQiOiJlYzI0NThmMi0xZTI0LTQxYzgtYjcxYi0wZTcwMWFmNzU4M2QifX0.aC5CQt-gpPIhS_5rLbUpPN0KqMh-o4REo96Vy1B75WWilk3E_5pmVRlfbRXszKL0J0XOqfIgcHZ-o5HDGOcK9w"&#93;' doc:name="Set Variable" doc:id="69d00a8c-c841-4e7b-8024-4c544967eb0a" variableName="token"/> [STUDIO] -->
		<http:request method="GET" doc:name="Request" doc:id="365c87f7-28c1-4d81-b368-4265539307a8" config-ref="HTTP_Request_configuration" path="/Asia/Kolkata">
		</http:request>
<!-- [STUDIO:"Transform Message"]		<ee:transform doc:name="Transform Message" doc:id="9192855f-5d0c-42b9-be97-3ffa171b29ed" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
&#45;&#45;-
payload map
{
	extId__c: $.Id,
	Name__c: $.Name
}&#93;&#93;></ee:set-payload>
			</ee:message>
		</ee:transform> [STUDIO] -->
<!-- [STUDIO:"Create"]		<salesforce:create doc:name="Create" doc:id="f027e25a-774c-415c-9564-2ecb3c4b50af" config-ref="Salesforce_Config" type="#['orders__c'&#93;"/> [STUDIO] -->
<!-- [STUDIO:"Upsert"]		<salesforce:upsert doc:name="Upsert" doc:id="7f842de8-b485-452d-8370-a8f9c1ab8f96" config-ref="Salesforce_Config" objectType='#["orders__c"&#93;' externalIdFieldName='extId__c'/> [STUDIO] -->
<!-- [STUDIO:"Logger"]		<logger level="INFO" doc:name="Logger" doc:id="3e1544ee-9b59-4fec-9552-4c972f00e326" message="#[attributes&#93;"/> [STUDIO] -->
		<logger level="INFO" doc:name="Logger" doc:id="bc9331ff-90e1-48a9-8add-217404b6af4c" message="#[%dw 2.0&#10;output application/json&#10;---&#10;payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="7fffd362-8b47-4c21-878f-d9a32f5aefe4" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
<!-- [STUDIO:"testFlow1"]	<flow name="testFlow1" doc:id="b2c63e6a-0ca0-436e-a502-15c59685e0f0" >
		<db:listener doc:name="On Table Row" doc:id="7e8f5382-01ea-46f6-a763-3a5be783688e" config-ref="Database_Config" table="students" watermarkColumn="sid">
			<scheduling-strategy >
				<fixed-frequency frequency="1" startDelay="1" timeUnit="MINUTES" />
			</scheduling-strategy>
		</db:listener>
		<logger level="INFO" doc:name="Logger" doc:id="9ebce8e0-bbfc-465f-9712-1f5614e71782" message="#[%dw 2.0&#10;output application/json&#10;&#45;&#45;-&#10;payload&#93;"/>
	</flow> [STUDIO] -->
</mule>
